<style>
body {
  background-color: rbg (255,255,255);
  font-family:'Montserrat', sans-serif;
  font-size: 16px;/*sets the font size to 16px*/
  font-weight: 300; /* sets the font weight to 300*/
  line-height: 1.6; /*sets the line-height to 1.6 * the font-size */
  color:  rbg (49,49,55);
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1{
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3{
font-size: 1.76em;
font-weight: 400;
}
h4{
  font-size: 1.35em;
  font-weight: 400;
}

img{
  width:100%;
}

</style>



/*
Colors used:
Primary Color (olive green): rgb (154, 170, 151)
Secondary Color (ligth olive green): rbg (179, 197, 175)
complimentary color (peach): rbg (255, 236, 226)
white: rbg (255,255,255)
light purple grey: rbg (194,193,210)
slight dark purple grey: rbg ( 153, 152, 167)
medium dark purple grey: rbg (102, 101, 114)
dark grey: rbg (67,66,75)
blackish : rbg (49,49,55)
*/
